<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} - {{ config['MAIN_TITLE'] }}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    {% if config['DEBUG'] == True %}
      <link rel=stylesheet type=text/css href="{{ url_for('admin.static', filename='css/admin.css') }}">
    {% else %}
      <link rel=stylesheet type=text/css href="{{ config['ADMIN_MIN_CSS'] }}">
    {% endif %}
  </head>
  <body>
    {% include 'admin/element/header.html' %}
    <section id="middle">
      <div id="container-main">
        <div id="container">
          <div id="content">
            <div class="speedbar">
              <div class="speedbar-nav"> <a href="#">Backend System Beta 2.0</a> &rsaquo; <a href="#">{{ self.title() }}</a></div>
              </div>
              <!--Statistic-->
              <div class="grid-1">
                <div class="title-grid">{{ self.title() }}</div>
                <div class="content-gird clearfix">
                  {% block content %}
                  {% endblock %}
                </div>
                <div class="clear"></div>
              </div>
          </div><!-- #content-->
        </div><!-- #container-->
        {% include 'admin/element/sidebar.html' %}
      </div><!-- #container main-->
      {% include 'admin/element/footer.html' %}
    </section><!-- #middle-->
  <div class="clear"></div>
  {% block script %}
  {% endblock %}
  {% if config['DEBUG'] == True %}
    <script type="text/javascript" src="{{ url_for('admin.static', filename='js/backend.js') }}"></script>
  {% else %}
    <script type="text/javascript" src="{{ config['ADMIN_MIN_JS'] }}"></script>
    {{ config['ANALYTICS']|safe }}
  {% endif %}
  </body>
</html>
