{% extends "admin/base.html" %}
{% block title %}{{ album.title }}{% endblock %}

{% block content %}
<a class="button-a red" href="javascript:void(0);" id="add_new_photo" data-albumid="{{ album.pk }}"><span class="picture icon-white-text">上传新相片</span></a>

    {% if album.content %}
    <hr/>
    <!--Medium Image Gallery -->
    <ul class="gallery-2">
      {% for i in album.content %}
      <li><a class="fancybox" href="{{ i.path }}">  <img src="{{ i.path }}" alt=""  /></a>
      <ul class="img_options-2">
        <li>Type: JPEG</li>
        <li>Sizes: 1600x700</li>
        <li>Size: 327kb</li>
        <li class="ins"><a href="images/thumbnails/13.png" class="zoom-2 fancybox">zoom</a></li>
        <li><a href="{{ url_for('admin.photo_del', album_id=album.pk, photo_title=i.title) }}" class="delete-2">delete</a></li>
      </ul>
      </li>
      {% endfor %}
    </ul>               
    {% else %}
    {% endif %}
<!--Medium Image Gallery end-->
{% endblock %}
