{% extends "admin/base.html" %}
{% block title %}图片管理{% endblock %}

{% block content %}

<a class="button-a red" href="javascript:void(0);" id="add_new_photo"><span class="picture icon-white-text">上传组件加载中...</span></a>

<hr/>
<!--Medium Image Gallery -->
<ul class="gallery-2">
  {% for i in photos %}
  <li><a class="fancybox" href="{{ i.url }}">  <img src="{{ i.url }}" alt=""  /></a>
    <ul class="img_options-2">
      <li class="ins"><a href="{{ i.url }}" class="zoom-2 fancybox">zoom</a></li>
      <li><a href="{{ url_for('admin.photo_del', album_name='undefined', photo_id=i.pk) }}" class="delete-2">delete</a></li>
    </ul>
  </li>
  {% endfor %}
</ul>
<!--Medium Image Gallery end-->
{% endblock %}
