{% extends "admin/base.html" %}
{% block title %}相册管理{% endblock %}

{% block content %}
<!--Big Image Gallery -->
<ul class="gallery-3">
    <li><a class="fancybox" href="">  <img src="" alt=""  /></a>
    <ul class="img_options-3">
        <li>相册名称: JPEG</li>
        <li>创建时间: 1600x700</li>
        <li>图片数量: 327kb</li>
        <li class="ins"><a href="" class="zoom-3 fancybox">zoom</a></li>
        <li><a href="" class="delete-3">delete</a></li>
    </ul>
    </li>
</ul>
<!--Big Image Gallery end-->

{% endblock %}
