{% extends "frontend/base.html" %}
{% block title %}图片馆{% endblock %}
{% block content %}
<div class="board-layout">
  <div id="colum-container">
    {% for i in albums|sort(attribute='publish_time', reverse=True) %}
        {% for c in i.content|sort(attribute="publish_time", reverse=True) %}
        <div class="single-photo">
          <a class="pin-image" title="{{ c.title }}"><img src="{{ c.path }}"></a>
          <div class="desc">
              <a class="avatar"><img src='{{ profile.avatar }}'/></a>
            <div class="no-image">
                <div class="name"><a>{{ profile.name }}</a></div>
              <div class="time">{{ c.publish_time.strftime('%Y-%m-%d %H:%M') }}</div></div>
            </div>
        </div>
      {% endfor %}
    {% endfor %}
  </div>
</div>
{% endblock %}
