{% extends "frontend/base.html" %}
{% block title %}图片馆{% endblock %}
{% block content %}
<div class="board-layout">
  <div id="colum-container">
    {% for p in photos %}
    <div class="single-photo">
      <a class="pin-image" title="{{ p.title }}"><img src="{{ p.url }}"></a>
      <div class="desc">
        <a class="avatar"><img src='{{ profile.avatar }}'/></a>
        <div class="no-image">
          <div class="name"><a>{{ profile.name }}</a></div>
          <div class="time">{{ p.publish_time.strftime('%Y-%m-%d %H:%M') }}</div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
