{% extends 'admin/base.html' %}
{% block title %}日志归档{% endblock %}
{% block content %}
<!--Table Styling-->
<table class="display" id="example">
<thead>
    <tr>
        <th class="th_chexbox"><input type="checkbox" name="set" /></th>
        <th class="th_title">标题</th>
        <th class="th_status">评论</th>
        <th class="th_date">文章简介</th>
        <th class="th_author">发表时间</th>
        <th class="th_chexbox"> </th>
    </tr>
</thead>
<tbody>
    {% for i in diaries %}
    <tr class="item">
        <td><input type="checkbox" name="id[]" value="1" /></td>
        <td class="subject"><a href="{{ url_for('admin.diary_edit', diary_id = i.id) }}" titl"编辑日志">{{ i.title }}</a></td>
        <td><span class="published">{{ i.comments|count }}</span></td>
        <td>{{ i.summary }}</td>
        <td class="name">{{ i.publish_time.strftime('%Y-%m-%d %H:%M') }}</td>
        <td class="action"><a href="{{ url_for('admin.diary_del', diary_id = i.id) }}" title="删除日志"><img src="../static/images/del.png" alt="delete"></a></td>
    </tr>
    {% endfor %}
</tbody>
</table>
<!--Table Styling end-->
{% endblock %}
