/*Global Reset*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
body,
form,
fieldset {
  color: #222;
  font-size: 13px;
  font-family: "Georgia", Helvetica, Arial, sans-serif;
  line-height: 1.5em;
}
abbr, img {
  border: none;
}
address,
caption,
cite,
th {
  font-style: normal;
  font-weight: normal;
}
ol, ul {
  list-style: none;
}
caption, th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
b, em {
  font-weight: normal;
  font-style: normal;
}
/*Global Styles*/
.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
body {
  padding-left: 290px;
  padding-bottom: 75px;
  color: #3d3a39;
  background: url(../img/bg.jpg) repeat top left;
}
h1 {
  color: #3d2d24;
  font-size: 150%;
  margin-bottom: 2px;
  line-height: 1.3em;
  font-weight: normal;
}
h1 a:link {
  color: #3d2d24;
  text-decoration: none !important;
}
h1 a:visited {
  color: #3d2d24;
  text-decoration: none;
}
h1 a:hover {
  color: #715343;
  text-decoration: none;
}
h1 a:active {
  color: #3d2d24;
  text-decoration: none;
}
h2 {
  color: #3d2d24;
  font-size: 100%;
  margin-bottom: 15px;
  letter-spacing: 1px;
  line-height: 1.3em;
  font-weight: normal;
  text-transform: uppercase;
  border-bottom: 1px solid #999966;
  padding-bottom: 3px;
}
h2 span {
  color: #72592e;
  padding-bottom: 2px;
}
/* comment header styles */
h3 {
  color: #8f7233;
  font-size: 90%;
  font-weight: normal;
  padding: 10px 6px;
  border-top: 3px solid #eee7cc;
  text-transform: uppercase;
  letter-spacing: 1px;
}
h3 span {
  color: #3d2d24;
}
p {
  color: #3d3a39;
  line-height: 1.8em;
  margin-bottom: 15px;
}
p em {
  font-style: italic;
  color: #3d3a39;
}
em {
  font-style: italic;
  color: #3d3a39;
}
hr {
  color: #ccc;
  border-color: #ccc;
  /*safari fix*/

}
a:link {
  color: #3d2d24;
  text-decoration: underline;
}
a:visited {
  color: #3d2d24;
  text-decoration: underline;
}
a:hover {
  color: #715343;
  text-decoration: underline;
}
a:active {
  color: #3d2d24;
  text-decoration: underline;
}
/*classes*/
.floatClear {
  clear: both;
  visibility: hidden;
}
.randomize {
  color: ;
}
/* ill styles */
#container {
  position: relative;
}
#logo {
  position: absolute;
  top: 0px;
  left: -240px;
  height: 228px;
  width: 216px;
}
#logo a {
  display: block;
  background: url(../img/logo.png) no-repeat top left;
  height: 222px;
  width: 220px;
}
#logo p {
  line-height: 3.0em;
  margin-top: 190px;
  color: #f1ebe3;
  padding-left: 54px;
  text-align: right;
  width: 160px;
  font-size: 70%;
  font-family: Arial, Helvetica, sans-serif;
  color: #f1ebe3;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#logo p span {
  font-weight: bold;
}
#nav {
  width: 470px;
  padding: 13px 0;
  border-bottom: 2px solid #8F7233;
}
#nav ul li {
  display: inline;
  margin-right: 25px;
  font-size: 90%;
  color: #CCCC99;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: Helvetica, Arial sans-serif;
}
#nav ul li a {
  text-decoration: none;
  color: #FFF;
}
#nav ul li a:hover {
  text-decoration: none;
  color: #FFF;
}
#content-container {
  width: 430px;
  padding: 20px;
  background-color: #faf8f4;
  margin-bottom: 40px;
  border-bottom: 2px solid #3d2d24;
  overflow: hidden;
}
.post {
  padding-bottom: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.post img {
  max-width: 430px;
  padding: 2px;
  font-size: 11px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  -moz-box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}
.post .summary {
  line-height: 25px;
}
.post .summary pre, .post .summary code {
  overflow: scroll;
}
.post a:link {
  color: #3d2d24;
  text-decoration: underline;
}
.post a:visited {
  color: #3d2d24;
  text-decoration: underline;
}
.post a:hover {
  color: #715343;
  text-decoration: underline;
}
.post a:active {
  color: #3d2d24;
  text-decoration: underline;
}
.post .post-comment-entice {
  text-align: center;
  padding: 5px;
  border-top: 1px solid #eee7cc;
  border-bottom: 1px solid #eee7cc;
}
.post .post-comment-entice p {
  margin-bottom: 0;
}
.post .post-title {
  text-decoration: none !important;
}
.post .post-date {
  text-transform: uppercase;
  color: #252525;
  font-size: 70%;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  margin-bottom: 3px;
}
.post .author {
  text-transform: uppercase;
  color: #8f7233;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 70%;
  letter-spacing: 1px;
  margin-bottom: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee7cc;
}
.post .author span {
  font-weight: bold;
  color: #3d2d24;
}
.post .author a {
  text-decoration: none;
}
.post .author a:hover {
  text-decoration: underline;
}
.post .post-meta {
  text-align: right;
  text-transform: uppercase;
  font-size: 80%;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  color: #252525;
  padding: 7px 0;
  border-top: 1px solid #eee7cc;
}
.post .post-categories {
  display: inline;
}
.post .post-categories li {
  display: inline;
  font-size: 90%;
}
#sidebar {
  position: absolute;
  top: 55px;
  left: 693px;
  width: 160px;
  margin-left: -200px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 80%;
  font-family: Arial, Helvetica, sans-serif;
  color: #f1ebe3;
  letter-spacing: 1px;
}
#sidebar #side-cats {
  margin-top: 8px;
  margin-bottom: 25px;
}
#sidebar #side-cats li {
  margin-bottom: 10px;
  margin-left: 2px;
}
#sidebar #side-cats a {
  text-decoration: none;
}
#sidebar #side-cats a:link {
  color: #CCCCCC;
}
#sidebar #side-cats a:visited {
  color: #FFF;
}
#sidebar #side-cats a:hover {
  color: #FFF;
}
#sidebar #side-cats a:active {
  color: #FFF;
}
#sidebar h2 {
  color: #FFF;
  font-size: 14px;
  border: none;
  margin-bottom: 8px;
  padding: 0;
  font-weight: lighter;
  letter-spacing: 4px;
  opacity: 0.8;
}
#sidebar #search_form .search {
  width: 95px;
  margin-left: -2px;
  background-color: rgba(0, 0, 0, 0.42);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.24), 0 1px 6px rgba(0, 0, 0, 0.45) inset;
  border-radius: 9px;
  border: none;
  padding: 0.3em 0.5em;
  color: #c4c4c4;
  font-size: 0.95em;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
}
#bottom-paging {
  width: 450px;
  padding: 10px;
  margin-bottom: 40px;
  text-align: center;
}
#bottom-paging a {
  color: #faf8f4;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 90%;
}
.blue-button {
  -webkit-transform: translatey(0);
  -webkit-transition: -webkit-transform 0.2s ease-out;
  -moz-transform: translatey(0);
  -moz-transition: -moz-transform 0.2s ease-out;
  transform: translatey(0);
  transition: -moz-transform 0.2s ease-out;
  position: relative;
  top: 0;
  background-image: -webkit-linear-gradient(#6389c1, #4369a1);
  background-image: -moz-linear-gradient(#6389c1, #4369a1);
  background-image: -linear-gradient(#6389c1, #4369a1);
  height: 42px;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 5px 1px;
  border: 1px solid rgba(53, 85, 131, 0.9);
  border-radius: 2px;
  text-shadow: 0 1px rgba(0, 0, 0, 0.5);
  margin-top: 0px;
  cursor: pointer;
  font-size: 20px;
  font-family: Vavont, 'Helvetica Neue', Helvetica, sans-serif;
  text-align: center;
  line-height: 38px;
  color: rgba(255, 255, 255, 0.99);
  box-sizing: border-box;
  margin-bottom: 15px;
  display: block;
  padding: 2px 6px 3px;
  overflow: hidden;
  text-decoration: none;
}
.small {
  font-size: 12px;
  padding: 7px;
  height: 25px;
  line-height: 10px;
}
footer {
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.5);
  text-indent: 85px;
}
footer a:link {
  color: #b18f7c !important;
  text-decoration: none;
}
footer a:visited {
  color: #b18f7c !important;
  text-decoration: none;
}
footer a:hover {
  color: #715343;
  text-decoration: none;
}
footer a:active {
  color: #3d2d24;
  text-decoration: none;
}
.home .single-diary .content .summary {
  padding-top: 24px;
  line-height: 26px;
}
.home .load-more {
  background: rgba(253, 246, 227, 0.5);
  border-radius: 0.4em;
  border: 1px solid #E7DEC3;
  line-height: 1.45em;
  font-size: 13px;
  margin-bottom: 2.1em;
  padding: .8em 1em;
  overflow: auto;
  box-shadow: 0 0 10px rgba(118, 80, 13, 0.9);
}
.home .load-more a {
  color: #586E75;
  display: block;
}
#recent-comments-title {
  margin-bottom: 10px;
}
.recent-comments, .opensourse {
  padding-left: 3px;
}
.recent-comments li, .opensourse li {
  font-size: 90%;
  text-transform: none;
  line-height: 1.5em;
  color: #c8b58c;
  margin-bottom: 20px;
}
.recent-comments a, .opensourse a {
  font-size: 100%;
  text-transform: uppercase;
  display: block;
  color: #FFF;
  text-decoration: none;
}
.recent-comments a:link, .opensourse a:link {
  color: #FFF;
  text-decoration: none;
}
.recent-comments a:visited, .opensourse a:visited {
  color: #FFF;
  text-decoration: none;
}
.recent-comments a:hover, .opensourse a:hover {
  color: #FFF;
  text-decoration: underline;
}
.recent-comments a:active, .opensourse a:active {
  color: #FFF;
  text-decoration: none;
}
/* Comment styling */
ol.commentlist li {
  border-top: 1px solid #eee7cc;
  padding: 10px 6px;
  position: relative;
}
.commentlist .comment-content {
  margin-top: 8px;
}
.commentlist .comment-content p {
  line-height: 1.5em;
  white-space: pre-wrap;
}
.commentlist cite {
  font-size: 100%;
  color: #B94A48;
  margin-bottom: 15px;
}
.commentlist cite a {
  font-size: 100%;
  color: #403028;
  margin-bottom: 15px;
}
.commentlist cite span {
  color: #8f887a;
}
.commentlist .admin-reply img {
  position: absolute;
  right: 5px;
  top: 5px;
  background: #675636;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 5px 1px;
  border: 1px solid rgba(15, 10, 0, 0.7);
}
.commentlist .admin-reply cite {
  color: #006e9c;
}
.commentmetadata {
  display: block;
  font-style: italic;
}
.commentmetadata a {
  color: #a3a3a3;
  font-size: 110%;
  text-decoration: none;
}
.comment {
  width: 417px;
  padding: 7px 5px;
  margin-left: 2px;
  font: 1em/1.5em "Georgia";
}
.error, .email-error {
  border: 1px dashed #B94A48 !important;
  color: #B94A48;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.board-layout {
  position: relative;
  width: 470px;
  margin-bottom: 40px;
  border-bottom: 2px solid #3d2d24;
  background: transparent;
}
.board-layout #colum-container {
  position: relative;
  min-height: 500px;
  margin: 0 auto;
  width: 470px;
}
.board-layout .single-photo {
  position: absolute;
  height: auto;
  width: 192px;
  padding: 15px;
  padding-bottom: 0;
  font-size: 11px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  -moz-box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  -webkit-transition: top 1s ease, left 1s ease;
  -moz-transition: top 1s ease, left 1s ease;
  -o-transition: top 1s ease, left 1s ease;
  -ms-transition: top 1s ease, left 1s ease;
}
.board-layout .single-photo a.pin-image {
  background-color: #f2f0f0;
  /*cursor: -webkit-zoom-in;*/

  /*cursor: -moz-zoom-in;*/

  /*cursor: zoom-in;*/

  display: block;
}
.board-layout .single-photo a.pin-image img {
  display: block;
  height: auto;
  max-width: 192px;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
}
.board-layout .single-photo .desc {
  overflow: hidden;
  word-wrap: break-word;
  margin: 0 -15px;
  padding: 10px 15px;
  background-color: #f2f0f0;
  margin-top: 10px;
  color: #ad9c9c;
}
.board-layout .single-photo .desc a, .board-layout .single-photo .desc img {
  display: inline-block;
  height: 30px;
  width: 30px;
}
.board-layout .single-photo .desc a.avatar {
  margin-right: 6px;
  float: left;
}
.board-layout .single-photo .desc .no-image {
  line-height: 15px;
  display: inline-block;
}
.board-layout .single-photo .desc .no-image .name a {
  display: inline;
}
.board-layout .single-photo .desc .no-image a {
  color: #8c7e7e;
  font-weight: bold;
  text-decoration: none;
  outline: none;
}
/* desert scheme ported from vim to google prettify */
pre.prettyprint {
  display: block;
  background-color: #333333;
}
pre .nocode {
  background-color: none;
  color: #000000;
}
pre .str {
  color: #ffa0a0;
}
/* string  - pink */
pre .kwd {
  color: #f0e68c;
  font-weight: bold;
}
pre .com {
  color: #87ceeb;
}
/* comment - skyblue */
pre .typ {
  color: #98fb98;
}
/* type    - lightgreen */
pre .lit {
  color: #cd5c5c;
}
/* literal - darkred */
pre .pun {
  color: #ffffff;
}
/* punctuation */
pre .pln {
  color: #ffffff;
}
/* plaintext */
pre .tag {
  color: #f0e68c;
  font-weight: bold;
}
/* html/xml tag    - lightyellow */
pre .atn {
  color: #bdb76b;
  font-weight: bold;
}
/* attribute name  - khaki */
pre .atv {
  color: #ffa0a0;
}
/* attribute value - pink */
pre .dec {
  color: #98fb98;
}
/* decimal         - lightgreen */
/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #aeaeae;
}
/* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
  list-style-type: none;
}
/* Alternate shading for lines */
@media print {
  pre.prettyprint {
    background-color: none;
  }
  pre .str, code .str {
    color: #006600;
  }
  pre .kwd, code .kwd {
    color: #006;
    font-weight: bold;
  }
  pre .com, code .com {
    color: #600;
    font-style: italic;
  }
  pre .typ, code .typ {
    color: #404;
    font-weight: bold;
  }
  pre .lit, code .lit {
    color: #004444;
  }
  pre .pun, code .pun {
    color: #444400;
  }
  pre .pln, code .pln {
    color: #000000;
  }
  pre .tag, code .tag {
    color: #006;
    font-weight: bold;
  }
  pre .atn, code .atn {
    color: #440044;
  }
  pre .atv, code .atv {
    color: #006600;
  }
}
