<header>
  <div class="centered-head">
    <!-- Logo -->
    <h1><a href="/" class="logo">Color life Admin Panel</a></h1>
    <!-- Logo end -->
    <!-- Navigation -->
    <nav>
    <ul>
      <li id="login">
      <span id="login-trigger">
        <span id="login-triggers">
          <span id="user-panel-check"></span>
          <span id="user-panel-title">My Account</span>
        </span>
      </span>
      <div id="login-content">
        <ul>
          <li><a href="#"><img src="static/images/setting.png" alt=""> <span>Settings</span></a></li>
          <li><a href="#"><img src="static/images/help.png" alt=""><span>Help</span></a></li>
          <li><a href="/index.html"><img src="static/images/logout.png" alt=""><span>Log Out</span></a></li>
        </ul>
      </div>
      </li>
    </ul>
    </nav>
    <div class="account-name"><p><span class="welcome">Welcome,</span> <strong>{{ current_user.name }}</strong></p><div class="account-separator"></div></div>
    <!-- Navigation end-->
  </div>
</header>
