<aside id="sideLeft">
  <a href="{{ url_for('admin.index') }}"><span class="categories">仪表盘</span></a>
  <ul class="menu">
    <li class="expand parent" id="post">
        <a><span>文章</span></a>
        <ul class="acitem children hide"></ul>
      </li>
      
      <li>
        <a href="{{ url_for('admin.comment_list') }}"><span>评论</span></a>
      </li>

      <li>
        <a href="{{ url_for('admin.gallery_list') }}"><span>相册</span></a>
      </li>

      <li>
        <a href="{{ url_for('admin.category_list') }}"><span>分类管理</span></a>
      </li>

      <li class="parent" id="page">
        <a><span>页面管理</span></a>
        <ul class="acitem children hide"></ul>
      </li>
  </ul>
</aside><!-- #sideLeft -->
