<aside id="sideLeft">
    <a href="{{ url_for('admin.index') }}"><span class="categories">仪表盘</span></a>
    <ul class="menu">
        <li class="expand">
        <a href="{{ url_for('admin.diary_list') }}"><span>文章</span></a>
        <ul class="acitem">
          <li><a href="{{ url_for('admin.diary_list') }}"><span class="dashboard icon">所有文章</span></a></li>
            <li><a href="{{ url_for('admin.diary_add') }}"><span class="charts icon">写文章</span></a></li>
        </ul>
        </li>
        <li>
          <a href="{{ url_for('admin.comment_list') }}"><span>评论</span></a>
        </li>
        <li>
          <a href="{{ url_for('admin.gallery_list') }}"><span>相册</span></a>
        </li>
        <li>
          <a href="{{ url_for('admin.category_list') }}"><span>分类管理</span></a>
        </li>
        <li>
        <a><span>页面管理</span></a>
        <ul class="acitem">
          <li><a href="{{ url_for('admin.cmspage_edit', page_url='about') }}"><span class="errors icon">About</span></a></li>
        </ul>
        </li>
    </ul>
</aside><!-- #sideLeft -->
