{% extends "admin/base.html" %}
{% block title %}相册管理{% endblock %}

{% block content %}
<!--Big Image Gallery -->
<div class="grid-1">
    <div class="title-grid">Big Image Gallery </div>
    <div class="content-gird clearfix">
        <ul class="gallery-3">
            <li><a class="fancybox" href="images/thumbnails/t_16.jpg">  <img src="images/thumbnails/t_16.jpg" alt=""  /></a>
            <ul class="img_options-3">
                <li>Type: JPEG</li>
                <li>Sizes: 1600x700</li>
                <li>Size: 327kb</li>
                <li class="ins"><a href="images/thumbnails/t_16.jpg" class="zoom-3 fancybox">zoom</a></li>
                <li><a href="#ss" class="delete-3">delete</a></li>
            </ul>
            </li>
            <li><a class="fancybox" href="images/thumbnails/t_17.jpg">  <img src="images/thumbnails/t_17.jpg" alt=""  /></a>
            <ul class="img_options-3">
                <li>Type: JPEG</li>
                <li>Sizes: 1600x700</li>
                <li>Size: 327kb</li>
                <li class="ins"><a href="images/thumbnails/t_17.jpg" class="zoom-3 fancybox">zoom</a></li>
                <li><a href="#ss" class="delete-3">delete</a></li>
            </ul>
            </li>
            <li><a class="fancybox" href="images/thumbnails/t_17.jpg">  <img src="images/thumbnails/t_17.jpg" alt=""  /></a>
            <ul class="img_options-3">
                <li>Type: JPEG</li>
                <li>Sizes: 1600x700</li>
                <li>Size: 327kb</li>
                <li class="ins"><a href="images/thumbnails/t_17.jpg" class="zoom-3 fancybox">zoom</a></li>
                <li><a href="#ss" class="delete-3">delete</a></li>
            </ul>
            </li>
            <li><a class="fancybox" href="images/thumbnails/t_16.jpg">  <img src="images/thumbnails/t_16.jpg" alt=""  /></a>
            <ul class="img_options-3">
                <li>Type: JPEG</li>
                <li>Sizes: 1600x700</li>
                <li>Size: 327kb</li>
                <li class="ins"><a href="images/thumbnails/t_16.jpg" class="zoom-3 fancybox">zoom</a></li>
                <li><a href="#ss" class="delete-3">delete</a></li>
            </ul>
            </li>
        </ul>               
    </div>
</div>  
<!--Big Image Gallery end-->

{% endblock %}
