{% extends "admin/base.html" %}
{% block title %}仪表盘{% endblock %}
{% block content %}
  <div class="reports">
    <div class="report">
      <p class="report-title">Total visits</p>
      <p class="report-figures">933,273 </p>
      <div class="clear"></div>
      <div class="headway"><div class="advance" style="width:40%;"></div></div>
    </div>
    <div class="report-2">
      <p class="report-title">New visitors</p>
      <p class="report-figures">912</p>
      <div class="clear"></div>
      <div class="headway"><div class="advance" style="width:80%;"></div></div>
    </div>
    <div class="report-2 report-last">
      <p class="report-title">Page views</p>
      <p class="report-figures">35%</p>
      <div class="clear"></div>
      <div class="headway"><div class="advance" style="width:35%;"></div></div>
    </div>
    <div class="report-2">
      <p class="report-title">Active visits</p>
      <p class="report-figures">23%</p>
      <div class="clear"></div>
      <div class="headway"><div class="advance" style="width:23%;"></div></div>
    </div>
    <div class="report-2 report-last">
      <p class="report-title">Fans</p>
      <p class="report-figures">3,860 </p>
      <div class="clear"></div>
      <div class="headway"><div class="advance" style="width:60%;"></div></div>
    </div>
  </div>
  <div class="chart chart-main"></div>
  <div class="clear"></div>
</div>
</div>
<!--Statistic end-->
<!-- Information data -->
<div class="information-data">
<div class="date">
  <p class="date-figures">935</p>
  <div class="headway-2"><div class="advance-2" style="width:80%;"></div></div>
  <p class="date-title">Likes</p>
</div>
<div class="date">
  <p class="date-figures">35%</p>
  <div class="headway-2"><div class="advance-2" style="width:35%;"></div></div>
  <p class="date-title">Shots</p>
</div>
<div class="date">
  <p class="date-figures">165</p>
  <div class="headway-2"><div class="advance-2" style="width:60%;"></div></div>
  <p class="date-title">Comments</p>
</div>
<div class="date">
  <p class="date-figures">95%</p>
  <div class="headway-2"><div class="advance-2" style="width:95%;"></div></div>
  <p class="date-title">Updates</p>
</div>
<div class="date">
  <p class="date-figures">1245</p>
  <div class="headway-2"><div class="advance-2" style="width:92%;"></div></div>
  <p class="date-title">Text</p>
</div>
<div class="date">
  <p class="date-figures">153</p>
  <div class="headway-2"><div class="advance-2" style="width:60%;"></div></div>
  <p class="date-title">Text</p>
</div>
<div class="date  date-last">
  <p class="date-figures">13</p>
  <div class="headway-2"><div class="advance-2" style="width:13%;"></div></div>
  <p class="date-title">Text</p>
</div>
</div>
<!-- Information data end -->
<!--Pictures-->
<div class="grid-2">
<div class="title-grid">Pictures</div>
<div class="content-gird">
  <ul class="gallery">
    <li><a class="fancybox" href="static/images/fullscreen/1.jpg">  <img src="static/images/thumbnails/t_1.jpg" alt=""  /></a>
    <ul class="img_options">
      <li><a class="zoom fancybox" href="static/images/fullscreen/1.jpg"><span>View</span></a></li>
    </ul>
    </li>
    <li><a class="fancybox" href="static/images/fullscreen/2.jpg">  <img src="static/images/thumbnails/t_2.jpg" alt=""  /></a>
    <ul class="img_options">
      <li><a class="zoom fancybox" href="static/images/fullscreen/2.jpg"><span>View</span></a></li>
    </ul>
    </li>
    <li><a class="fancybox" href="static/images/fullscreen/3.jpg">  <img src="static/images/thumbnails/t_3.jpg" alt=""  /></a>
    <ul class="img_options">
      <li><a class="zoom fancybox" href="static/images/fullscreen/3.jpg"><span>View</span></a></li>
    </ul>
    </li>
    <li><a class="fancybox" href="static/images/fullscreen/4.jpg">  <img src="static/images/thumbnails/t_4.jpg" alt=""  /></a>
    <ul class="img_options">
      <li><a class="zoom fancybox" href="static/images/fullscreen/4.jpg"><span>View</span></a></li>
    </ul>
    </li>
    <li><a class="fancybox" href="static/images/fullscreen/5.jpg">  <img src="static/images/thumbnails/t_5.jpg" alt=""  /></a>
    <ul class="img_options">
      <li><a class="zoom fancybox" href="static/images/fullscreen/5.jpg"><span>View</span></a></li>
    </ul>
    </li>
    <li><a class="fancybox" href="static/images/fullscreen/6.jpg">  <img src="static/images/thumbnails/t_6.jpg" alt=""  /></a>
    <ul class="img_options">
      <li><a class="zoom fancybox" href="static/images/fullscreen/6.jpg"><span>View</span></a></li>
    </ul>
    </li>
    <li><a class="fancybox" href="static/images/fullscreen/7.jpg">  <img src="static/images/thumbnails/t_7.jpg" alt=""  /></a>
    <ul class="img_options">
      <li><a class="zoom fancybox" href="static/images/fullscreen/7.jpg"><span>View</span></a></li>
    </ul>
    </li>
    <li><a class="fancybox" href="static/images/fullscreen/8.jpg">  <img src="static/images/thumbnails/t_8.jpg" alt=""  /></a>
    <ul class="img_options">
      <li><a class="zoom fancybox" href="static/images/fullscreen/8.jpg"><span>View</span></a></li>
    </ul>
    </li>
    <li><a class="fancybox" href="static/images/fullscreen/9.jpg">  <img src="static/images/thumbnails/t_9.jpg" alt=""  /></a>
    <ul class="img_options">
      <li><a class="zoom fancybox" href="static/images/fullscreen/9.jpg"><span>View</span></a></li>
    </ul>
    </li>
    <li><a class="fancybox" href="static/images/fullscreen/10.jpg">  <img src="static/images/thumbnails/t_10.jpg" alt=""  /></a>
    <ul class="img_options">
      <li><a class="zoom fancybox" href="static/images/fullscreen/10.jpg"><span>View</span></a></li>
    </ul>
    </li>
    <li><a class="fancybox" href="static/images/fullscreen/11.jpg">  <img src="static/images/thumbnails/t_11.jpg" alt=""  /></a>
    <ul class="img_options">
      <li><a class="zoom fancybox" href="static/images/fullscreen/11.jpg"><span>View</span></a></li>
    </ul>
    </li>
    <li><a class="fancybox" href="static/images/fullscreen/12.jpg">  <img src="static/images/thumbnails/t_12.jpg" alt=""  /></a>
    <ul class="img_options">
      <li><a class="zoom fancybox" href="static/images/fullscreen/12.jpg"><span>View</span></a></li>
    </ul>
    </li>
  </ul>
  <div class="clear"> </div>
</div>
</div>
<!--Pictures end-->
<!--Buttons-->
<div class="grid-2 last right">
<div class="title-grid">Buttons</div>
<div class="content-gird">
  <div class="buttons-content">
    <ul class="buttons">
      <li><a class="button-a gray" href="#"><span>Link Button</span></a></li>
      <li><input type="submit" class="button-a gray" value="Input type submit"></li>
      <li><button class="button-a gray">Button gray</button></li>
    </ul>
    <div class="clear"></div>
    <ul class="buttons">
      <li><a class="button-a blue" href="#"><span>Link Button</span></a></li>
      <li><input type="submit" class="button-a blue" value="Input type submit"></li>
      <li><button class="button-a blue">Button blue</button></li>
    </ul>
    <div class="clear"></div>
    <ul class="buttons">
      <li><a class="button-a dark-blue" href="#"><span>Link Button</span></a></li>
      <li><input type="submit" class="button-a dark-blue" value="Input type submit"></li>
      <li><button class="button-a dark-blue">Button dark</button></li>
    </ul>
    <div class="clear"></div>
    <ul class="buttons">
      <li><a class="button-a red" href="#"><span>Link Button</span></a></li>
      <li><input type="submit" class="button-a red" value="Input type submit"></li>
      <li><button class="button-a red">Button red..</button></li>
    </ul>
  </div>
  <div class="clear"></div>
</div>
</div>
<!--Buttons end-->
<!--Accordion-->
<div id="accordion" class="accordion last">
<h3><a>Accordion</a></h3>
<div><p>Hello!<br>Merry Christmas y'all. </p></div>
<h3><a>Accordion</a></h3>
<div><p>Hello!<br>Merry Christmas y'all. </p></div>
<h3><a>Accordion</a></h3>
<div><p>Hello!<br>Merry Christmas y'all. </p></div>
<h3><a>Accordion</a></h3>
<div><p>Hello!<br>Merry Christmas y'all. </p></div>
</div>
<div class="clear"></div>
<!--Accordion end-->
<!--Articles-->
<div class="grid-1">
<div class="title-grid">Articles</div>
<div class="content-gird">
  <div class="articles">
    <div class="article">
      <p class="identifier">1</p>
      <div class="article-content">
        <p class="article-title"><a href="#">Loading bar</a></p>
        <ul class="article-action">
          <li><a href="#" class="article-edit tip-top" title="Edit">edit</a></li>
          <li><a href="#" class="article-delete tip-top" title="Delete">delete</a></li>
        </ul>
        <p class="article-description">I worked on the little loading bar a little bit today. Also bumped up the text contrast a little bit. Merry Christmas y'all. You should also probably follow...</p>
        <p class="article-author">Posted: <a href="#">Erik Deiner</a></p>
      </div>
    </div>
    <div class="article">
      <p class="identifier">2</p>
      <div class="article-content">
        <p class="article-title"><a href="#">Loading bar</a></p>
        <ul class="article-action">
          <li><a href="#" class="article-edit tip-top" title="Edit">edit</a></li>
          <li><a href="#" class="article-delete tip-top" title="Delete">delete</a></li>
        </ul>
        <p class="article-description">I worked on the little loading bar a little bit today. Also bumped up the text contrast a little bit. Merry Christmas y'all. You should also probably follow...</p>
        <p class="article-author">Posted: <a href="#">Erik Deiner</a></p>
      </div>
    </div>
    <div class="article">
      <p class="identifier">3</p>
      <div class="article-content">
        <p class="article-title"><a href="#">Loading bar</a></p>
        <ul class="article-action">
          <li><a href="#" class="article-edit tip-top" title="Edit">edit</a></li>
          <li><a href="#" class="article-delete tip-top" title="Delete">delete</a></li>
        </ul>
        <p class="article-description">I worked on the little loading bar a little bit today. Also bumped up the text contrast a little bit. Merry Christmas y'all. You should also probably follow...</p>
        <p class="article-author">Posted: <a href="#">Erik Deiner</a></p>
      </div>
    </div>
    <div class="article">
      <p class="identifier">4</p>
      <div class="article-content">
        <p class="article-title"><a href="#">Loading bar</a></p>
        <ul class="article-action">
          <li><a href="#" class="article-edit tip-top" title="Edit">edit</a></li>
          <li><a href="#" class="article-delete tip-top" title="Delete">delete</a></li>
        </ul>
        <p class="article-description">I worked on the little loading bar a little bit today. Also bumped up the text contrast a little bit. Merry Christmas y'all. You should also probably follow...</p>
        <p class="article-author">Posted: <a href="#">Erik Deiner</a></p>
      </div>
    </div>
  </div>
<!--Articles end-->
{% endblock %}
